.rst__rowContents {
	padding-left: 0px !important;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: 5px;
}
.rst__rowTitle {
    font-family: monospace;
}
.tree-view {
	height: 500px;
    width: 700px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
}
.tree-node-icon {
	border-right: solid 1px rgba(34,36,38,.15);
	padding: 12px;
	font-size: 16px;
	margin-right: 10px;
	background-color: #F6F6F6;
}
.tree-node-icon:hover {
	background-color: #D9D9D9;
}
.tree-node-icon.fa-user-o:hover {
	background-color: #F6F6F6;
}
.view-selector-icon {
	border-radius: 50px;
    padding: 16px;
    font-size: 22px;
    margin-right: 10px;
	background-color: #F6F6F6;
	color: #444444;
}
.view-selector-icon:hover {
	background-color: #D9D9D9;
}
.expand-collapse-icon {
	color: #444444;
}
.expand-collapse-icon:hover {
	color: #D9D9D9;
}
table {
    font-family: monospace;
}
td.key {
	font-weight: bold;
}
